@model CampingFlierefluiter.Models.Facility

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Facility</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FacilityPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacilityPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacilityType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacilityType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FacilityID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
