@model CampingFlierefluiter.Models.CampingSite

@{
    ViewBag.Title = "DeleteFormCollection";
}

<h2>DeleteFormCollection</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CampingSite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SiteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FieldName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FieldName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurfaceArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurfaceArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isWifi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isWifi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isWater)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isWater)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isSewer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isSewer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SitePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SitePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteType)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
