@model CampingFlierefluiter.Models.PdfModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PdfModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pdfTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pdfTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pdflocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pdflocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pdfId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
